@font-face {
    font-family:Mulibold;
    src: url(/assets/fonts/Muli-Bold.ttf);
}
@font-face {
    font-family: muliregular ;
    src: url(/assets/fonts/Muli-Regular.woff);
}
@font-face {
    font-family: muliextrabold;
    src: url(/assets/fonts/Muli-ExtraBold.woff);
}
@font-face {
    font-family: muliitallic;
    src: url(/assets/fonts/Muli-Italic.ttf);
}
* {
    box-sizing: border-box;
}
.body {
    font-family: Muli-Regular, sans-serif;

}




.header {
    background-image: url(../img/header-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header__top {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 70px;
}
.header__nav {

}
.nav__list-item {

}
.nav__list-link {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color:white;
    text-decoration: none;
}

.header__logo {

}

.header__right-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__list {
    list-style: none;
    display: flex;
    column-gap: 45px;
}
.header__personal {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.personal__list-item {
position: relative;
}
.personal__cart-count { 
    background-color: white;
    display: inline-block; 
    height: 18px; 
    width: 18px; 
    text-align: center; 
    border-radius:50%;
    line-height: 2;
    font-size: 10px;
    color:black;
    position: absolute;
    top: -12px;
    left: 20px;

}

.header__social {
    list-style: none;
    display: flex;
    column-gap: 25px;

}
.header__logo {
    display: flex;

}
.header__content {
display: flex;
align-items:center;
justify-content: center;

}

.btn {
    border-radius: 30px;
    font-family:Muli-ExtraBold;
    font-size: 40px;
}


.header__btn {
    background-color:#0aa566;
    width: 280px;
    height: 70px;
    font: size 24px; ;
    line-height: 40px;
    font-size: 24px;
    color:white;
}